.gifBackground {
    -fx-background-image: url('../img/bobbinwater.gif');
    -fx-background-repeat: stretch;
    -fx-background-size: cover, auto;
    -fx-background-position: center center;
}

.profileBackground {
    -fx-background-image: url('../img/profileBackground.jpg');
    -fx-background-repeat: stretch;
    -fx-background-size: cover, auto;
    -fx-background-position: center center;
}

.reportBackground {
    -fx-background-image: url('../img/reportBackground.jpg');
    -fx-background-repeat: stretch;
    -fx-background-size: cover, auto;
    -fx-background-position: center center;
}

.viewBackground {
    -fx-background-color: rgba(63,63,63,1.0);
}

.loginText {
    -fx-text-fill: white;
}

.loginButton {
    -fx-background-color: rgba(255,255,255, .80);
}

.registerButton {
    -fx-background-color: none;
    -fx-text-fill: white;
}

.registerButton:hover {
    -fx-text-fill: #4286f4;
    -fx-cursor: hand;
}

.loginButton:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-cursor: hand;
}

.loginTBox {
    -fx-background-color: rgba(63,63,63, .80);
    -fx-text-fill: white;
}

.reportTBox {
    -fx-background-color: rgba(31,122,122, .70);
    -fx-text-fill: white;
}

.profileTBox {
    -fx-background-color: rgba(41,163,163, .70);
    -fx-text-fill: white;
}

.pane {
    -fx-background-color: rgba(63,63,63, 0.1);
}

.mainButton {
    -fx-background-color: none;
    -fx-text-fill: white;
}

.mainButton:hover {
    -fx-text-fill: #4286f4;
    -fx-cursor: hand;
}

.rootToolbar {
    -fx-background-color: rgba(34,34,34, 0.80);
}
.exitButton {
    -fx-background-radius: 20px;
    -fx-min-width: 20px;
    -fx-min-height: 20px;
    -fx-max-width: 20px;
    -fx-max-height: 20px;
    -fx-base: #222222;
    -fx-graphic: url('../img/closeIcon.png');
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.exitButton: hover {
    -fx-graphic: url('../img/highlightedClose.png');
    -fx-cursor: hand;
}

.minimizeButton {
    -fx-background-radius: 20px;
    -fx-min-width: 20px;
    -fx-min-height: 20px;
    -fx-max-width: 20px;
    -fx-max-height: 20px;
    -fx-base: #222222;
    -fx-graphic: url('../img/minimizeIcon.png');
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.minimizeButton: hover {
    -fx-graphic: url('../img/highlightedMinimize.png');
    -fx-cursor: hand;
}


.addButton: hover {
    -fx-graphic: url('../img/hoverAddIcon.png');
    -fx-cursor: hand;
}

.addOptions {
    -fx-background-color: rgba(230,255,255, 0.70);
    -fx-padding: 10px;
}

.sideMenu {
    -fx-padding: 20px 0px 20px 0px;
}

.historicalRadioButton {
    -fx-text-fill: white;
}


.table-view{
   -fx-background-color: transparent;
}

.table-view:focused{
    -fx-background-color: transparent;
}


.table-view .column-header-background{
    -fx-background-color: rgba(63,63,63,1.0);
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: white;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #616161;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #424242;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:selected {
    -fx-background-color: #005797;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.scroll-bar:horizontal {
    -fx-opacity: 0;
    -fx-padding:-7;
}