.gifBackground {
    -fx-background-image: url('../img/bobbinwater.gif');
    -fx-background-repeat: stretch;
    -fx-background-size: cover, auto;
    -fx-background-position: center center;
}

.loginText {
    -fx-text-fill: white;
}

.loginButton {
    -fx-background-color: rgba(255,255,255, .80);
}

.registerButton {
    -fx-background-color: none;
    -fx-text-fill: white;
}

.registerButton:hover {
    -fx-text-fill: #4286f4;
}

.loginButton:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.loginTBox {
    -fx-background-color: rgba(63,63,63, .80);
    -fx-text-fill: white;
}

.pane {
    -fx-background-color: rgba(63,63,63, 0.1);
}

.mainButton {
    -fx-background-color: none;
    -fx-text-fill: white;
}

.mainButton:hover {
    -fx-text-fill: #4286f4;
}

.exitButton {
    -fx-background-radius: 20px;
    -fx-min-width: 20px;
    -fx-min-height: 20px;
    -fx-max-width: 20px;
    -fx-max-height: 20px;
    -fx-base: #222222;
    -fx-graphic: url('../img/closeIcon.png');
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.exitButton: hover {
    -fx-graphic: url('../img/highlightedClose.png');
}

.rootToolbar {
    -fx-background-color: rgba(34,34,34, 8.0);
}

.historicalRadioButton {
    -fx-text-fill: white;
}