.gifBackground {
    -fx-background-image: url('../img/bobbinwater.gif');
    -fx-background-repeat: stretch;
    -fx-background-size: 900 506;
    -fx-background-position: center center;
}

.loginText {
    -fx-text-fill: white;
}

.loginButton {
    -fx-background-color: rgba(255,255,255, .80);
}

.loginButton:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.loginTBox {
    -fx-background-color: rgba(63,63,63, .80);
    -fx-text-fill: white;
}